Programowanie_Funkcyjne/Lecture.hs
Języki_formalne_techniki_translacji/Lista_1/Pattern.txt
Języki_formalne_techniki_translacji/Lista_1/Base.txt
Języki_formalne_techniki_translacji/Lista_1/cases-EMOJI.txt
Języki_formalne_techniki_translacji/Lista_1/tests-EMOJI.txt