// header section // 

.main_head{
    min-height: 100vh;
    background-color: $background;
    @include flex(space-around, center, column);
    border-bottom: 2px solid;
    h1{
        color: $line;
        margin: auto;
    }
    #name{
        transform: translate(-10vw,10vh);
    }
    #surname{
        transform: translate(10vw,-10vh);

    }
    img{
        width: calc(10vw + 200px);
        height: auto;
    }
}

// navigation section // 

nav{
    width: 10vw;
    margin-left: 2rem;
    position: fixed;
    @include flex(space-around, center, column);
    ul{
        display: none;
        position: relative;
        li{
            @include flex(space-around, center, column);
            margin-bottom: 10rem;
            a{
                text-align: center;
                color: $line;
            }
        }
    }
    span{
        margin-top: 1rem;
        cursor: pointer;
        @include flex(center, center, column);
        border-radius: 100%;
        height: 75px;
        width: 75px;
    
        .menu{
            width: 35px;
            height: 3px;
            background-color: $line;
            margin: 3px 0;
            border-radius: 20%;
        }
    }
}

nav:hover{
    ul{
        animation: fade_in 1s;
        display: block;
    }
}

main{
    background-color: $background-main;
    @include flex(center, center, column);
    #about{
        @include flex(start, top, row);
        padding-top: 3rem;
        max-width: 80vw;
        article{
            position: sticky;
            top: 0;
        }
        p{
        padding: 0.5rem 2rem;
        }
        img{
            width: 20vw;
            height: auto;
        }
    }
    #qualifications{
        @include flex(start, top, row);
        padding-top: 3rem;
        min-width: 80vw;
        h3{
            padding: 1rem 2rem;
        }
        ul{
            padding: 0.5rem 3rem;
            li{
                padding: 0.5rem 0rem;
            }
        }
        p{
            padding: 0.5rem 3rem;
        }

    }
    #projects{
        @include flex(start, top, row);
        padding-top: 3rem;
        min-width: 80vw;
        h3{
            padding: 1rem 2rem;
        }
    }
}

// animation section // 


@keyframes fade_in {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}