// header section // 

.main_head{
    min-height: 100vh;
    background-color: $background;
    @include flex(space-around, center, column);
    border-bottom: 2px solid;
    h1{
        color: $line;
        margin: auto;
    }
    #name{
        transform: translate(-10vw,10vh);
    }
    #surname{
        transform: translate(10vw,-10vh);

    }
    img{
        width: calc(10vw + 200px);
        height: auto;
    }
}

// navigation section // 

nav{
    width: 10vw;
    //margin-left: 2rem;
    position: fixed;
    @include flex(space-around, center, column);
    ul{
        display: none;
        position: relative;
        li{
            @include flex(space-around, center, column);
            margin-bottom: 10rem;
            a{
                text-align: center;
                color: $line;
            }
        }
    }
    section{
        margin-top: 1rem;
        cursor: pointer;
        @include flex(center, center, column);
        border-radius: 100%;
        height: 75px;
        width: 75px;
    
        .menu{
            width: 35px;
            height: 3px;
            background-color: $line;
            margin: 3px 0;
            border-radius: 20%;
        }
    }
}

nav:hover{
    ul{
        animation: fade_in 1s;
        display: block;
    }
}

main{
    section{
        @include flex(start, center, row);
        padding-top: 3rem;
        max-width: 80vw;
    }
    background-color: $background-main;
    @include flex(center, center, column);
    #about{
        article{
            //position: sticky;
            top: 0;
        }
        p{
        padding: 0.5rem 2rem;
        }
        img{
            width: 20vw;
            height: auto;
        }
    }
    #qualifications{
        h3{
            padding: 1rem 2rem;
        }
        ul{
            padding: 0.5rem 3rem;
            li{
                padding: 0.5rem 0rem;
            }
        }
        p{
            padding: 0.5rem 3rem;
        }

    }
    #projects{

        @include flex(start, start, column);
        padding-top: 3rem;
        min-width: 80vw;
        h3{
            font-size: 3rem;
            padding: 6rem 0rem 2rem 2rem;

        }
        #project_1{
            @include flex(start, start, row);
            flex-wrap: wrap;
            pre{
                flex: 1 1 20rem;
                border: 1px solid black;
                padding: 2rem;
                font-size: $code;
                background-color: $background-code;
            }
            pre:hover{
                box-shadow: 2px 3px 3px 2px black;
            }
            div{
                flex: 1 1 30vw;                
            }
            p{
                padding: 4rem;
            }
        }
        #project_2{
            padding-bottom: 3rem;
        }
    }
}

footer{
    padding: 0rem 5rem;
    background-color: $background;
    color: $line;
    @include flex(center, start, column);
    min-height: 15vh;
    flex-wrap: wrap;
    h2{padding: 2rem 0rem;
        flex: 1 1 8rem;
    }
    ul{
        flex: 3 1 15rem;
        @include flex(center, start, column);
    }
    li{
        @include flex(center, center, row);
        color: $line;
        a{
            color: $line;
        }
    }
    img{
        margin-right: 2rem;
        width: 3rem;
        height: auto;
        object-fit: cover;
    }
}

// animation section // 


@keyframes fade_in {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

/*Media Section*/
@media screen and (max-width: 800px){
    #about{
        img{
            display: none;
        }
    }
    }
