// header section // 

.main_head{
    height: 100vh;
    background-color: $background;
    @include flex(space-between, center, row);
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, white, rgb(43, 53, 85),white) 1;
}

// navigation section // 

nav{
    margin-top: 2rem;
    position: fixed;
    @include flex(space-around, center, column);
    ul{
        margin-top: 2rem;
        @include flex(space-around, center, column);
        

        li{
            margin-top: 10rem;
            a{
                color: red;
            }
        }
    }
    span{
        cursor: pointer;
        @include flex(center, center, column);
        border-radius: 100%;
        height: 75px;
        width: 75px;
    
        .menu{
            width: 35px;
            height: 3px;
            background-color: black;
            margin: 3px 0;
            border-radius: 20%;
        }
    }

    span:hover{
        animation: havering 2s linear;
        border: solid black;
    }
}

#place_holder{
    height: 200vh;
    background-color: beige;
}

// animation section // 


@keyframes havering {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}