$heder1: 4rem;
$heder2: 4rem;
$heder3: 2.5rem;
$heder4: 2rem;
$text: 1.8rem;
$background: rgb(87, 32, 32);

@mixin flex($justify, $align, $diretion) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $diretion;
}

@import "global";
@import "mainPage";