/*Media Section*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: calc(4rem + 3vw);
  font-family: "Cinzel";
}

li, button, label, input, p, a {
  font-size: 1.8rem;
}

p {
  line-height: 3rem;
}

h2 {
  color: rgb(124, 0, 0);
  font-size: 4rem;
  font-family: "Cinzel";
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4, h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

.main_head {
  min-height: 100vh;
  background-color: rgb(25, 25, 27);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid;
}
.main_head h1 {
  color: rgb(124, 0, 0);
  margin: auto;
}
.main_head #name {
  transform: translate(-10vw, 10vh);
}
.main_head #surname {
  transform: translate(10vw, -10vh);
}
.main_head img {
  width: calc(10vw + 200px);
  height: auto;
}

nav {
  width: 10vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
nav ul {
  display: none;
  position: relative;
}
nav ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
nav ul li a {
  text-align: center;
  color: rgb(124, 0, 0);
}
nav span {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  height: 75px;
  width: 75px;
}
nav span .menu {
  width: 35px;
  height: 3px;
  background-color: rgb(124, 0, 0);
  margin: 3px 0;
  border-radius: 20%;
}

nav:hover ul {
  animation: fade_in 1s;
  display: block;
}

main {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-top: 3rem;
  max-width: 80vw;
}
main #about article {
  top: 0;
}
main #about p {
  padding: 0.5rem 2rem;
}
main #about img {
  width: 20vw;
  height: auto;
}
main #qualifications h3 {
  padding: 1rem 2rem;
}
main #qualifications ul {
  padding: 0.5rem 3rem;
}
main #qualifications ul li {
  padding: 0.5rem 0rem;
}
main #qualifications p {
  padding: 0.5rem 3rem;
}
main #projects {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding-top: 3rem;
  min-width: 80vw;
}
main #projects h3 {
  font-size: 3rem;
  padding: 6rem 0rem 2rem 2rem;
}
main #projects #project_1 {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}
main #projects #project_1 pre {
  flex: 1 1 20rem;
  border: 1px solid black;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: rgb(228, 228, 203);
}
main #projects #project_1 pre:hover {
  box-shadow: 2px 3px 3px 2px black;
}
main #projects #project_1 div {
  flex: 1 1 35vw;
}
main #projects #project_1 p {
  padding: 4rem;
}
main #projects #project_2 {
  padding-bottom: 3rem;
}

footer {
  padding: 0rem 5rem;
  background-color: rgb(25, 25, 27);
  color: rgb(124, 0, 0);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-height: 15vh;
  flex-wrap: wrap;
}
footer h2 {
  padding: 2rem 0rem;
  flex: 1 1 8rem;
}
footer ul {
  flex: 3 1 15rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(124, 0, 0);
}
footer li a {
  color: rgb(124, 0, 0);
}
footer img {
  margin-right: 2rem;
  width: 3rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes fade_in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}/*# sourceMappingURL=style.css.map */